{{!-- <h3>{{{ title }}}</h3>
<img src="{{{ image }}}">
<p>{{{ summary }}}</p> --}}

<h2 class="text-center col-md-12 articles_h2">{{article.title}}</h2>
<img src={{article.image}} class="col-md-8 col-md-offset-2 articles_img">
<p class="text-center col-md-8 col-md-offset-2  articles_p">{{article.summary}}</p>